/*mixins command variable import*/
@import '../mixins & variables/_mixins.scss';
@import '../mixins & variables/_variables.scss';


/*font-family:Open Sans*/
@import url(//fonts.googleapis.com/css?family=Open+Sans);

body { font-family: 'Open Sans', sans-serif; color: #373737; }
html { font-weight: $mb-0; }


/*text,background color and shadow*/
.text-deep-orange { color: $deep-orange; }
.text-black { color: black; }
.text-white { color: white; }

.bg-deep-orange { background-color: $deep-orange; }
.bg-black { background-color: black; }
.bg-light-blue { background-color: #10B6DD; }
.bg-light-yellow { background-color: #ffffcc; }
.bg-blue { background-color: #141a46; }
.bg-white { background-color: white; }
.bg-pink { background-color: #ccccff; }
.grey-shadow { box-shadow: 0px 0px 1px grey; }


/*line saperator*/
.border { border: 4px solid $deep-orange !important; width: 50px; margin: 40px auto 55px auto; }

/*maximum screen width 425px ( Extra small devices )*/
@media only screen and (max-width:425px) {
  .border { border: 2px solid $deep-orange !important; width: 40px; margin: 15px auto 30px auto; }
}

/*bottom border*/
.border-bottom-black { border-bottom: 1px solid #373737; }

/*active class applies to the active link*/
.active-link { color: $deep-orange !important; border-bottom: 2px solid $deep-orange; }

/*erroe message in form*/
.error-message { color: red; }

/*placeholder text color*/
::placeholder { color: white; }

/*outline of input field in sign in form */
.input-field-outline { background-color: red; }

/* section top-bottom spacing*/
.section-top-bottom-spacing {
  @include section-top-bottom-spacing($pt-80,$pb-80);
}

/*fix menu at top*/
.fix-menu-top { position: fixed !important; bottom: unset; top: 0; z-index: 999; }

/*hide element*/
.hide-element { display: none !important; }

/*show element*/
.show-element { display: block !important; }

/*active class applies to the active link*/
.active-link { color: $deep-orange !important; border-bottom: 2px solid $deep-orange; }

/*bottom menu suboptions position*/
.dropup-content { position: absolute; width: 200px; bottom: 50px; left: 0px; z-index: 1; }
.dropdown-content { position: absolute; width: 200px; top: 50px; left: 0px; z-index: 1; }

/*section heading*/
.section-heading {
  color: $deep-orange;
  margin-bottom: $mb-15;
  @include font($extra-large-font,$semi-bold);
}

/*section sub heading*/
.section-sub-heading {
  width: 75%;
  margin: 0 auto;
  @include font($larg-font,$normal);
}

/*testimonial slider buttons*/
.testimonial-slider-btn { position: absolute; background: unset; color: #8e8888; border: none; font-size: 50px; top: 40%;
  &:hover { color: #b5b0b0; }
  &:active { border: none; outline: unset; }
  &:focus { border: none; outline: unset; }
}

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width:575.98px) {
  /*line saperator*/
  .border { border: 2px solid $deep-orange !important; width: 50px; margin: 35px auto 35px auto; }

  /* section top-bottom spacing*/
  .section-top-bottom-spacing {
    @include section-top-bottom-spacing($pt-40,$pb-40);
  }

  /*section heading*/
  .section-heading { font-size: 30px; }

  /*section sub heading*/
  .section-sub-heading { width: 90%; padding: 0px !important; font-size: $medium-font; }

  /*testimonial slider buttons*/
  .testimonial-slider-btn { font-size: 30px; top: 40%; }
}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width:767.98px) and (min-width:576px) {
  /* section top-bottom spacing*/
  .section-top-bottom-spacing {
    @include section-top-bottom-spacing($pt-50,$pb-50);
  }

  /*section heading*/
  .section-heading { font-size: 40px; }

  /*section sub heading*/
  .section-sub-heading { width: 75%; padding: 0px !important; font-size: $medium-font; }

  /*testimonial slider buttons*/
  .testimonial-slider-btn { font-size: 40px; top: 40%; }
}
