<!-- HEADER -->
<header class="app-header">
  <div class="app-header-logo text-deep-orange font-weight-bold   my-auto"><h4>AMAZE</h4></div>
  <div class="app-header-sign-in-btn"><i class="fa fa-sign-in " id="myBtn" data-toggle="tooltip" title="Sign In" aria-hidden="true"></i></div>
</header>

<!-- MENU -->
<div class="app-menu">
  <div class="app-header-logo text-deep-orange font-weight-bold  my-auto"><h4>AMAZE</h4></div>

  <!--header menu-->
  <div class="nav navbar-expand-md  " id="nav-menu">

    <!-- toggle button-->
    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navBar" >
      <i class="fa fa-bars menu-icon " aria-hidden="true"></i>
    </button>

    <!--menu list-->
    <div class="collapse navbar-collapse " id="navBar">
      <ul class="menu-list ml-auto " >
      <!--menu list items-->
      <li data-toggle="collapse" data-target=".navbar-collapse.show" ><a href="#home" class="p-0  text-uppercase active-link">home</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show"><a href="#about" class=" p-0  text-uppercase ">about</a></li>
        <li class="dropup">
          <a class="p-0   text-uppercase">
            services
          </a>
          <ul class="sub-option  ">
            <li data-toggle="collapse" data-target=".navbar-collapse.show"><a href="#services" class=" p-0  text-uppercase ">web development</a></li>
            <li data-toggle="collapse" data-target=".navbar-collapse.show"><a href="#services" class="p-0 text-uppercase">mobile development</a></li>
          </ul>
        </li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show"><a href="#portfolio" class="p-0  text-uppercase">portfolio</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show"><a href="#team" class="p-0  text-uppercase">team</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show"><a href="#pricing" class="p-0 text-uppercase">pricing</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show"><a href="#contact" class="p-0 text-uppercase">contact</a></li>

      </ul>
      </div>

    </div>
    <div class="app-header-sign-in-btn"><i class="fa fa-sign-in " id="myBtn" data-toggle="tooltip" title="Sign In" aria-hidden="true"></i></div>
  </div>


      <!-- SignIn Modal -->
      <div class="sign-in-modal">

        <!-- Modal content -->
        <div class="sign-in-modal-content">

          <h1 class="sign-in-model-heading">Sign In</h1>

          <!-- sign in form -->
          <form class="sign-in-form">
            <div class="form-group">
              <label for="email">User name:</label>
              <input type="text" class="form-control user-name-input" id="useName" autocomplete="off">
              <span class="error-message " id="user-name-error-message"> </span>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control password-input" id="password" autocomplete="off">
              <span class="error-message " id="password-error-message"> </span>
            </div>
            <button type="submit" class="btn submit-btn">Log In</button>
          </form>

        </div>

      </div>


      <!--section 1 (HOME)-->
      <section class="carousel slide home-section" data-ride="carousel" id="home" data-interval="5000">

        <!--slide indicator-->
        <ol class="carousel-indicators slide-indicators">
          <li data-target="#home" data-slide-to="0"></li>
          <li data-target="#home" data-slide-to="1"></li>
          <li data-target="#home" data-slide-to="2"></li>
        </ol>

        <!--slider banner-->
        <div class="carousel-inner home-section-slider ">

          <!-- slide 1 -->
          <div class="slide-1 carousel-item active slide-height">
            <div class="carousel-caption slide-caption ">
              <h1 class="slide-heading text-uppercase"> WE CREATE AMAZING SOFTWARE WITH CARE</h1>
              <p class="lead slide-sub-heading">We are experts in web, mobile and enterprise solution development</p>
              <button class="btn text-white text-uppercase">LEARN MORE</button>
            </div>
          </div>

          <!-- slide 2 -->
          <div class="slide-2 carousel-item slide-height">
            <div class="carousel-caption slide-caption ">
              <h1 class="slide-heading text-uppercase">WE CREATE AMAZING SOFTWARE WITH CARE</h1>
              <p class="lead slide-sub-heading">We are experts in web, mobile and enterprise solution development</p>
              <button class="btn text-white text-uppercase">LEARN MORE</button>
            </div>
          </div>

          <!-- slide 3 -->
          <div class="slide-3 carousel-item slide-height">
            <div class="carousel-caption slide-caption ">
              <h1 class="slide-heading text-uppercase">WE CREATE AMAZING SOFTWARE WITH CARE</h1>
              <p class="lead slide-sub-heading">We are experts in web, mobile and enterprise solution development</p>
              <button class="btn text-white text-uppercase">LEARN MORE</button>
            </div>
          </div>

        </div>

      </section>



      <!--section 2 (ABOUT)-->
      <section class="container-fluid about-section section-top-bottom-spacing" id="about">

        <!--about section header-->
        <div class="row d-flex about-section-header ">
          <div class="col-12 text-center section-header-content">
            <h1 class="section-heading text-uppercase">ABOUT AMAZE</h1>
            <p class="lead px-5 section-sub-heading">
              Release bandwidth user experience research & development branding termsheet business plan
              advisor analytics ecosystem entrepreneur
            </p>
          </div>
        </div>

        <!--line saperator-->
        <div class="border mx-auto d-flex ">
        </div>

        <!-- about section content -->
        <div class="container-fluid mx-auto row d-flex about-section-content  px-5">

          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6  content-grid">
            <img src="../assets/section-2-img.jpg" class="w-100 img" />
          </div>


          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6  content-grid">
            <span class="content-data-heading">Promact is a pinnacle where we believe in staying a step ahead in Technology.</span>
            <ul>
              <li>
                Promact is a pinnacle where we believe in staying a step ahead in technology
              </li>
              <li>
                Promact is a pinnacle where we believe in staying a step ahead in technology
              </li>
              <li>
                Promact is a pinnacle where we believe in staying a step ahead in technology
              </li>

            </ul>
          </div>


        </div>



      </section>


      <!-- section 3 (SERVICES) -->
      <section class="container-fluid services-section section-top-bottom-spacing" id="services">

        <!--service section header-->
        <div class="row d-flex services-section-header">
          <div class="col-12 text-center section-header-content ">
            <h1 class="section-heading text-uppercase">what WE DO</h1>
            <p class="lead px-5 section-sub-heading ">
              Release bandwidth user experience research & development branding termsheet business plan
              advisor analytics ecosystem entrepreneur
            </p>
          </div>
        </div>

        <!--line saperator-->
        <div class="border mx-auto d-flex ">
        </div>

        <!-- service section content -->
        <div class="container-fluid mx-auto row  px-5  service-section-content ">

          <!-- service-1 -->
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4  content-grid ">
            <div class="card content-card px-0 mx-0 h-100">
              <img class="card-img-top ml-auto " src="../assets/service-1.jpg" />
              <div class="card-body px-0 ">
                <span class="body-heading card-title">WEB DEVELOPMENT</span>

                <p class="card-text body-heading-lead pt-2 ">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum

                </p>

              </div>
            </div>
          </div>

          <!-- service-2 -->
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4  content-grid">
            <div class="card content-card px-0 mx-0 h-100">
              <img class="card-img-top ml-auto " src="../assets/service-2.jpg" />
              <div class="card-body px-0">
                <span class="body-heading card-title">WEB DEVELOPMENT</span>

                <p class="card-text body-heading-lead pt-2">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                 

                </p>

              </div>
            </div>
          </div>

          <!-- service-3 -->
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 content-grid ">
            <div class="card content-card px-0 mx-0 h-100">
              <img class="card-img-top ml-auto " src="../assets/service-3.jpg" />
              <div class="card-body px-0">
                <span class="body-heading card-title">WEB DEVELOPMENT</span>

                <p class="card-text body-heading-lead pt-2">
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum

                </p>

              </div>
            </div>
          </div>



        </div>

      </section>


      <!-- section 4 (PORTFOLIO) -->
      <section class="container-fluid portfolio-section section-top-bottom-spacing" id="portfolio">

        <!--portfolio section header-->
        <div class="row d-flex portfolio-section-header">
          <div class="col-12 text-center section-header-content">
            <h1 class="section-heading text-uppercase">OUR WORKS</h1>
            <p class="lead px-5 section-sub-heading">
              Release bandwidth user experience research & development branding termsheet business plan
              advisor analytics ecosystem entrepreneur
            </p>
          </div>
        </div>

        <!--line saperator-->
        <div class="border mx-auto d-flex ">
        </div>

        <!--portfolio section content -->
        <div class="container-fluid mx-auto d-flex portfolio-section-content row  px-5   ">

          <!-- work-1 -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4  content-grid">
            <div class="card text-black content-card px-0 mx-0 ">
              <img class="image " src="../assets/service-1.jpg" />
              <div class="overlay">
                <div class="card-body bg-light-yellow  px-1 py-5 text-center ">
                  <span class="body-heading card-title ">WEB DEVELOPMENT</span>
                  <p class="card-text body-heading-lead pb-4 pt-2">
                    Some quick example text to build

                  </p>
                  <button class="btn text-black view-more-btn ">
                    VIEW MORE
                  </button>
                </div>
              </div>

            </div>
          </div>


          <!-- work-2 -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4   content-grid">
            <div class="card content-card px-0 mx-0 ">
              <img class="image " src="../assets/service-2.jpg" />
              <div class="overlay">
                <div class="card-body text-white bg-light-blue  px-1 py-5  text-center ">
                  <span class="body-heading card-title "><i class="fa fa-star-half-o" aria-hidden="true"></i></span>
                  <p class="card-text  body-heading-lead pt-2 font-weight-bold">
                    Half Star
                  </p>
                  <ul class="list-inline pb-3 ">
                    <li class="list-inline-item"><a class="text-white ">Love</a></li>
                    <li class="list-inline-item"><a class="text-white ">Life</a></li>
                    <li class="list-inline-item"><a class="text-white ">Love</a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>

          <!-- work-3 -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4  content-grid">
            <div class="card content-card px-0 mx-0 ">
              <img class="image " src="../assets/service-3.jpg" />
              <div class="overlay ">
                <div class="card-body bg-blue text-white  px-1 py-5 text-center ">
                  <span class="body-heading card-title">WEB DEVELOPMENT</span>
                  <p class="card-text body-heading-lead pb-4 pt-2">
                    Some quick example text to build

                  </p>
                  <button class="btn view-more-btn">
                    VIEW MORE
                  </button>
                </div>
              </div>

            </div>
          </div>

          <!-- work-4 -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6   content-grid">
            <div class="card content-card px-0 mx-0 ">
              <img class="image " src="../assets/service-4.jpg" />
              <div class="overlay">
                <div class="card-body bg-pink  px-1 py-5 text-center ">
                  <span class="body-heading card-title">WEB DEVELOPMENT</span>
                  <p class="card-text body-heading-lead pt-2">
                    Some quick example text to build

                  </p>
                  <button class="btn view-more-btn">
                    VIEW MORE
                  </button>
                </div>
              </div>

            </div>
          </div>

          <!-- work-5 -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6  content-grid">
            <div class="card content-card px-0 mx-0 ">
              <img class="image " src="../assets/service-5.jpg" />
              <div class="overlay">
                <div class="card-body bg-white   px-1 py-5 text-center ">
                  <span class="body-heading card-title">WEB DEVELOPMENT</span>
                  <p class="card-text body-heading-lead pt-2">
                    Some quick example text to build

                  </p>
                  <button class="btn view-more-btn">
                    VIEW MORE
                  </button>
                </div>
              </div>

            </div>
          </div>

          <!-- work-6 -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4  content-grid">
            <div class="card content-card px-0 mx-0 ">
              <img class="image " src="../assets/service-6.jpg" />
              <div class="overlay">
                <div class="card-body bg-light-yellow text-black  px-1 py-5 text-center ">
                  <span class="body-heading card-title">WEB DEVELOPMENT</span>
                  <p class="card-text body-heading-lead pt-2">
                    Some quick example text to build

                  </p>
                  <button class="btn  view-more-btn">
                    VIEW MORE
                  </button>
                </div>
              </div>

            </div>
          </div>


          <!-- work-7 -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4  content-grid">
            <div class="card content-card px-0 mx-0 ">
              <img class="image " src="../assets/service-7.jpg" />
              <div class="overlay">
                <div class="card-body bg-light-blue text-white  px-1 py-5 text-center ">
                  <span class="body-heading card-title">WEB DEVELOPMENT</span>
                  <p class="card-text body-heading-lead pt-2">
                    Some quick example text to build

                  </p>
                  <button class="btn view-more-btn">
                    VIEW MORE
                  </button>
                </div>
              </div>

            </div>
          </div>

          <!-- work-8 -->
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4  content-grid">
            <div class="card content-card px-0 mx-0 ">
              <img class="image " src="../assets/service-8.jpg" />
              <div class="overlay">
                <div class="card-body  bg-blue text-white px-1 py-5 text-center ">
                  <span class="body-heading card-title">WEB DEVELOPMENT</span>
                  <p class="card-text body-heading-lead pt-2">
                    Some quick example text to build

                  </p>
                  <button class="btn view-more-btn">
                    VIEW MORE
                  </button>
                </div>
              </div>

            </div>
          </div>

        </div>



      </section>


      <!-- section 5 (TEAM) -->
      <section class="container-fluid team-section section-top-bottom-spacing" id="team">

        <!--team section  header-->
        <div class="row d-flex team-section-header">
          <div class="col-12 text-center section-header-content">
            <h1 class="section-heading">THE TEAM</h1>
            <p class="lead px-5 section-sub-heading">
              We do everything with out core values of honesty, hard work and trust
            </p>
          </div>
        </div>

        <!--line saperator-->
        <div class="border mx-auto d-flex ">
        </div>

        <!-- team section content -->
        <div class="row d-flex container-fluid content-row team-section-content  mx-auto px-5 ">

          <!-- member-1 -->
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3  content-grid ">
            <div class="card content-card">
              <img class="card-img-top team-member-img" src="../assets/service-1.jpg" />
              <div class="card-body  ">
                <h1 class="card-title member-name">NAME</h1>
                <h4 class="card-subtitle member-designation">Designation</h4>
                <p class="card-text member-description d-sm-block d-xs-block d-none">
                  Some quick example text to build on the
                  card title and make up the bulk of the card's content.
                </p>
                <button class="btn  member-view-profile-button  ">VIEW PROFILE</button>
              </div>
            </div>
          </div>

          <!-- member-2 -->
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 content-grid ">
            <div class="card content-card">
              <img class="card-img-top team-member-img " src="../assets/service-1.jpg" />
              <div class="card-body  ">
                <h1 class="card-title member-name">NAME</h1>
                <h4 class="card-subtitle member-designation">Designation</h4>
                <p class="card-text member-description d-sm-block d-xs-block d-none">
                  Some quick example text to build on the
                  card title and make up the bulk of the card's content.
                </p>
                <button class="btn  member-view-profile-button">VIEW PROFILE</button>
              </div>
            </div>
          </div>

          <!-- member-3 -->
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 content-grid ">
            <div class="card content-card">
              <img class="card-img-top team-member-img " src="../assets/service-1.jpg" />
              <div class="card-body  ">
                <h1 class="card-title member-name">NAME</h1>
                <h4 class="card-subtitle member-designation">Designation</h4>
                <p class="card-text member-description d-sm-block d-xs-block d-none">
                  Some quick example text to build on the
                  card title and make up the bulk of the card's content.
                </p>
                <button class="btn  member-view-profile-button">VIEW PROFILE</button>
              </div>
            </div>
          </div>

          <!-- member-4 -->
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 content-grid ">
            <div class="card content-card">
              <img class="card-img-top team-member-img " src="../assets/service-1.jpg" />
              <div class="card-body  ">
                <h1 class="card-title member-name">NAME</h1>
                <h4 class="card-subtitle member-designation">Designation</h4>
                <p class="card-text member-description d-sm-block d-xs-block d-none">
                  Some quick example text to build on the
                  card title and make up the bulk of the card's content.
                </p>
                <button class="btn  member-view-profile-button">VIEW PROFILE</button>
              </div>
            </div>
          </div>

        </div>

      </section>


      <!-- section 6 (TESTIMONIAL) -->
      <section class="container-fluid testimonial-section section-top-bottom-spacing " id="pricing">

        <!-- testimonial section header-->
        <div class="row d-flex testimonial-section-header ">
          <div class="col-12 text-center section-header-content">
            <h1 class="section-heading text-uppercase">testimonials</h1>
            <p class="lead px-5 section-sub-heading">
              Our built-in payment system allows your merchants to accept both paypal and
              all of major credit cards
            </p>
          </div>
        </div>

        <!--line saperator-->
        <div class="border mx-auto d-flex ">
        </div>

        <!-- testimonial section content -->
        <div class="row d-flex  container-fluid testimonial-section-content mx-auto  px-5 ">

          <!--Testimonial slider-->
          <div class="content-grid col-12 col-sm-8 col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3 offset-sm-2 ">

            <!-- image src using jquery -->
            <img class="testimonial-image " src=" " />

            <h6 class="testimonial-description text-center" style="-webkit-box-orient: vertical;" data-toggle="tooltip" title="">
              <!-- html content and tooltip using jquery -->
            </h6>
            <i class="fa fa-less-than"></i>
            <button class="fa fa-angle-left testimonial-slider-left-btn testimonial-slider-btn"></button>
            <button class="fa fa-angle-right testimonial-slider-right-btn testimonial-slider-btn"></button>
          </div>
        </div>

      </section>


      <!-- section 7 (CONTACT) -->
      <section class="container-fluid contact-section " id="contact">

        <!-- contact section-->
        <div class="row d-flex contact-section-content px-5 mx-auto">

          <div class="col-8 col-sm-8 col-md-7 col-lg-4 col-xl-4  section-grid">
            <h1 class="text-uppercase"> subscribe now & stay updated</h1>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex section-grid">
            <form class="p-0 w-100 mt-auto">
              <div class="form-group p-0">
                <input type="email" placeholder="Your Email Address" class="form-control email-input" />
              </div>
            </form>
          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex section-grid">
            <button class="text-uppercase btn mt-auto">SUBSCRIBE</button>
          </div>

        </div>
      </section>


      <!-- FOOTER -->
      <footer>

        <!--about company-->
        <section class="container-fluid  footer-main-container  ">

          <div class=" footer-top-section row d-flex mx-auto  text-white font-weight-light px-5">
            <div class="col-12 col-lg-4 col-xl-4 col-sm-12 col-md-4 section-grid">

              <div class="row no-gutters section-inner-row">

                <!-- about -->
                <div class="col-12 footer-heading">
                  <h1>About</h1>
                </div>

                <div class="col-12  text-justify description ">
                  Promact was founded in 2003 with a clear mission to create a
                  culturally unique software company that not only delivers the best product but is
                  always ahead in learning to use the latest technology.
                </div>

              </div>
            </div>

            <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-12 section-grid">

              <div class="row no-gutters section-inner-row">

                <!-- social -->
                <div class="col-12 footer-heading">
                  <h1>Social</h1>
                </div>

                <div class="col-12  text-justify font-15 description ">
                  <a href="#" class="text-white ">
                    <i class="fa social-icon fa-facebook " aria-hidden="true"></i>
                  </a>
                  <a href="#" class="text-white">
                    <i class="fa social-icon fa-twitter  " aria-hidden="true"></i>
                  </a>
                  <a href="#" class="text-white">
                    <i class="fa social-icon fa-google-plus  " aria-hidden="true"></i>
                  </a>
                  <a href="#" class="text-white">  <i class="fa social-icon   fa-linkedin " aria-hidden="true"></i></a>
                </div>
              </div>

            </div>

            <div class="col-12 col-sm-12 col-lg-4 col-xl-4 col-md-4 section-grid">
              <div class="row no-gutters section-inner-row">
                <!-- contact -->
                <div class="col-12 footer-heading ">
                  <h1>Contact</h1>
                </div>

                <div class="col-12  text-justify description">
                  Promact infotech Pvt. Ltd.<br />
                  Manjalpur, Vadodara<br />
                  India -390011
                </div>

                <div class="col-12 pt-3 text-justify description ">
                  <a href="#" class="text-white">info@promactinfo.com</a>
                </div>
              </div>
            </div>

          </div>
        </section>

        <!--copyright-->
        <section class="container-fluid   mx-0 py-3  text-center text-muted copyright">
          Copyright &copy; 2019 amaze-theme. All Rights Reserved.
        </section>

      </footer>
