@import './styles/common-class/common.scss';

/*-----------Sign In Modal--------------*/
/* sign in form modal */
.sign-in-modal { position: fixed; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); }

/* sign in Modal Content */
.sign-in-modal-content { position: absolute; top: 25%; background-color: white; left: 30%; border: 1px solid #888888; width: 40%; height: auto;

  .sign-in-model-heading {
    margin-top: 10px;
    @include font(30px,$bold);
    text-align: center;
    color: $deep-orange;
  }

  .sign-in-form { padding: 20px 30px; width: 80%; margin-left: 10%;
    .form-group {
      label { }
      input { }
    }
    .submit-btn {
      color: white;
      @include button-style($deep-orange,40px,145px,$medium-font,5px);
      padding: 0px;
      margin-bottom: 10px;
      &:hover { background-color: #d85b0e; }
      &:focus { box-shadow: none; }
      &:active { box-shadow: none; }
    }
  }
}

/*----------TOP HEADER--------------*/
.app-header { height: 50px; width: 100%; position: fixed; top: 0; z-index: 2; }

/*app logo*/
.app-header-logo { height: 100%; width: 20%; display: inline-block;
  h4 {
    float: right;
    @include font(30px,$bold);
    margin-bottom: 0px;
    padding-top: 7px;
  }
}

/*sign in button*/
.app-header-sign-in-btn { height: 100%; width: 20%; position: absolute; right: 0%; display: inline-block;
  .fa-sign-in {
    @include font(25px,$bold);
    color: $deep-orange;
    padding-top: 13px;
    cursor: pointer;
    margin-left: 70px;
  }
}

/*----------BOTTOM MENU--------------*/
.app-menu { position: absolute; bottom: 0; width: 100%; height: 50px; z-index: 2; background-color: lightgray; }

/*bottom/top menu section*/
.nav { position: absolute; height: 100%; display: inline-block; left: 20%; width: 60%; margin-top: 0px !important; font-size: $small-font; font-weight: $bold;
  ul { cursor: pointer; list-style-type: none; padding: 0; right: 2%; float: right;
    li { display: inline-block; padding: 17px 10px;
      a { color: $text-color; display: block; text-align: center; text-decoration: none; font-weight: $bold;
        &:hover { color: $deep-orange; }
      }
    }
  }
}

//sub-option in bottom/top menu
.sub-option { background-color: lightgray; display: none; padding-bottom: 10px !important;
  li { display: block !important; padding: 10px 10px 5px 10px !important; }
}

//menu toggle button
.navbar-toggler { position: absolute; top: 20%; right: 0; color: $deep-orange; }


/*-----------section-1 (HOME)-------------*/
.home-section { z-index: 1;
  .slide-indicators { margin-bottom: 60px;
    li { background-color: $deep-orange !important; }
  }
}

//slide-height
.slide-height { height: 100vh; }

//slide-1
.slide-1 {
  @include slider-banner-background("../assets/section-1-bg.jpg");
}

//slide-2
.slide-2 {
  @include slider-banner-background("../assets/section-1(1)-bg.jpg");
}

//slide-3
.slide-3 {
  @include slider-banner-background("../assets/section-1(2)-bg.jpg");
}


//slide caption
.slide-caption { top: 20%; color: black;
  .slide-heading {
    width: 75%;
    margin: 0px auto;
    line-height: 1.3;
    @include font($extra-large-font,$semi-bold);
  }
  .slide-sub-heading {
    @include font($larg-font,$normal);
  }
  .btn {
    @include button-style($deep-orange,50px,185px,$medium-font,$mt-10);
    &:hover { background-color: #d85b0e; }
    &:focus { box-shadow: none; }
    &:active { box-shadow: none; }
  }
}


/*-----------section-2 (ABOUT)-----------*/

//about section
.about-section { background-color: black; color: #8e8888; }

//about section content
.about-section-content { width: 90%;
  .content-grid { padding: 0px 15px;
    img { height: 100%; border: none; }
    .content-data-heading {

      @include font(25px,$semi-bold);
    }
    ul { padding: 20px 0px 10px 30px;
      li {
        padding-bottom: $pb-10;
        @include font($larg-font,$normal);
      }
    }
  }
}


/*---------section-3 (SERVICES)----------*/

//services section
.services-section { background-color: $light-grey; }

//services section content
.service-section-content { width: 90%;

  .content-grid { padding: 0px 15px; margin-bottom: $mb-30;
    .content-card { background-color: $light-grey; border: none;
      .card-img-top { border-radius: unset; }
      .card-body { padding: 40px 0px 0px 0px;
        .body-heading {
          @include font($larg-font,$semi-bold);
        }
        .body-heading-lead {
          padding-top: 15px !important;
          @include font($medium-font,$normal);
        }
      }
    }
  }
}

/*---------section-4 (PORTFOLIO)----------*/

//portfolio section heading
.portfolio-section { background-color: #000000; color: #8e8888;
  .portfolio-section-header {
    .section-header-content {
      .section-heading {
        color: $deep-orange;
        margin-bottom: $mb-15;
        @include font($extra-large-font,$semi-bold);


        &:hover {
          transition: 2s;
          @include font($larg-font,$bold);
        }
      }
      .section-sub-heading {
        width: 75%;
        margin: 0 auto;

        @include font($larg-font,$normal);

        &:hover {
          transition: 2s;
          @include font($medium-font,$semi-bold);
        }
      }
    }
  }
}

//portfolio section content
.portfolio-section-content { width: 90%; padding-top: 20px;
  .content-grid { margin-bottom: $mb-30; padding: 0px 15px;
    .content-card { border: none; height: 100%; border-radius: 0px; cursor: pointer;
      .image { height: 100%; width: 100%; border: none; border-radius: 0px; position: absolute; }
      &:hover { box-shadow: 0px 0px 20px #f2f2f2; transform: scale(1.01); transition: all 0.5s ease-in-out;
        .overlay { opacity: 1; animation: rotate-portfolio-description 1s 1 forwards; }
      }
    }
  }
}

//portfolio overalays
.overlay { z-index: 999; opacity: 0;
  .card-body { opacity: 0.9; margin: 25px;
    .body-heading {
      cursor: auto;
      @include font($larg-font,$semi-bold);

      .fa-star-half-o {
        @include font($extra-large-font,$semi-bold);
      }
    }
    .body-heading-lead {
      cursor: auto;
      @include font($medium-font,$normal);
    }
    ul { margin: 0 auto;
      li { margin: 5px !important; }
    }
    .view-more-btn {

      @include button-style($deep-orange,40px,90%,$medium-font,$mt-0);
      color: white;

      &:hover { background-color: #d85b0e; }
      &:focus { box-shadow: none; }
      &:active { box-shadow: none; }
    }
  }
  animation: rotate-reverse-portfolio-description 1s 1 forwards; transition: all 1s ease-in-out; }


/*---------section-5 (TEAM)----------*/

//team section
.team-section { background-color: $light-grey; }

//team section content and memeber image
.team-section-content { width: 90%;
  .content-grid { margin-bottom: $mb-30; padding: 0px 15px;
    .content-card { padding: 0px; border: 1px solid #e6e6e6; opacity: 0.9; background-color: #f2f2f2;
      .team-member-img { padding: 10px; }
      &:hover { cursor: pointer; opacity: 1; background-color: white; box-shadow: 0px 0px 10px #d9d9d9; transform: scale(1.01,1.01); transition: all 0.5s ease-out;
        .team-member-img { }
      }
    }
  }
}

//team section memeber details
.card-body { padding: 10px;
  .member-name {
    padding-top: $pt-10;
    text-align: center;
    @include font($larg-font,$semi-bold);
  }
  .member-designation {
    text-align: center;
    @include font($medium-font,$normal);
  }
  .member-description { margin-top: $mt-20; font-size: $small-font; }
  .member-view-profile-button {
    @include button-style($deep-orange,40px,155px,$medium-font,$mt-10);
    color: white;
    //background-color: $deep-orange !important;
    width: 100%;
    margin-left: 0%;
    &:hover { background-color: #d85b0e; }
    &:focus { box-shadow: none; }
    &:active { box-shadow: none; }
  }
}


/*-----------section-6 (TESTIMONIAL)---------*/

//testimonial section
.testimonial-section { background-color: black; color: #8e8888; }

//testimonial slider section
.testimonial-section-content {
  .content-grid { background-color: #262626; border-radius: 5px; opacity: 0.9;
    .testimonial-image { width: 20%; margin: 20px 40% 0px 40%; border-radius: 50%; }
    .testimonial-description { cursor: pointer; color: #a8a3a3; margin-top: 30px !important; padding: 0px 40px; /* Fallback for non-webkit */ display: -webkit-box; margin: 0 auto; height: auto; /* Fallback for non-webkit */ font-size: 15px; line-height: 1.5; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
    .testimonial-slider-left-btn { left: 0%; }
    .testimonial-slider-right-btn { right: 0%; }
    &:hover { box-shadow: 0px 0px 10px #999999; transform: scale(1.01); opacity: 1; transition: all 0.2s ease-out; }
  }
}


/*-----------section-7 (CONTACT)---------*/

//contact section
.contact-section { padding-top: $pt-80; padding-bottom: $pb-50; background: url("../assets/service-1.jpg"); background-attachment: fixed; background-size: 100% 100%;
  .contact-section-content { color: white; width: 90%; }
}

//contact section content (heading, subscribtion form)
.section-grid { margin-bottom: $mb-30; padding: 0px 15px; /*left heading*/ h1 {
    @include font(30px,$semi-bold);
  }
  /*email input*/ form {
    .form-group {
      input { color: white; background: none; border: none; border-bottom: 1px solid white; border-radius: unset;
        &:focus { box-shadow: none; }
        &:active { box-shadow: none; }
      }
    }
  }
  /*subscribe button*/ button { background-color: $deep-orange; color: white; width: 80%; margin-left: 20%; margin-bottom: 1rem;
    &:hover { background-color: #d85b0e; }
    &:focus { box-shadow: none; }
    &:active { box-shadow: none; }
  }
}


/*-----------------FOOTER------------------*/

//footer top
.footer-main-container { background-color: #404040; }

.footer-top-section { width: 90%; padding: 50px 0px 35px 0px;
  .section-grid { padding: 0px 15px; }
}

.section-inner-row {
  .footer-heading {
    h1 {
      color: #a6a6a6;
      @include font(25px,$semi-bold);
    }
  }
  .description {
    @include font(15px,$normal);
    a { margin-right: 10px;
      i { border-radius: 50%; border: 1px solid white; font-size: 15px; padding-top: 7px; margin-top: 5px; width: 30px; height: 30px; text-align: center;
        &:hover { background-color: $deep-orange; }
      }
    }
  }
}

//copyright
.copyright { background-color: #262626; font-size: $medium-font; }


/*--------------responsive breakpoints--------------------*/

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width:575.98px) {


  /*----------TOP HEADER--------------*/

  /*app logo*/
  .app-header-logo { height: 100%; width: 20%; display: inline-block;
    h4 {
      float: left;
      margin-left: 20px;
      @include font(25px,$bold);
      margin-bottom: 0px;
      padding-top: 4px;
    }
  }

  /*sign in button*/
  .app-header-sign-in-btn { height: 100%; width: 10%; position: absolute; right: 0%; display: inline-block;
    .fa-sign-in {
      @include font(20px,$bold);
      padding-top: 10px;
      margin-right: 20px;
      float: right
    }
  }

  /*menu section*/
  .app-menu { height: 40px; }

  //menu toggle button
  .navbar-toggler { top: 10%; margin-right: 0px; }

  /*bottom/top menu section*/
  .nav { left: 20%; width: 70%;
    ul { width: 70%; background-color: lightgray; margin-top: 40px;
      li { display: block !important; padding: 10px !important; }
    }
  }

  /*sub-option in bottom/top menu*/
  .sub-option { background-color: lightgray; display: none; padding-bottom: 10px !important; width: 100% !important; margin-top: 0px !important;
    li { display: block !important; margin-left: 15px; }
  }

  /*-----------section-1 (HOME)-------------*/
  .home-section {
    .slide-indicators { margin-bottom: 50px; }
  }

  /*-----------section-2 (ABOUT)-------------*/

  /*about section content*/
  .about-section-content { width: 100%; padding: 0px !important;
    .content-grid { margin-bottom: $mb-20;
      img { height: 100%; border: none; }
      .content-data-heading {

        @include font($small-font,$semi-bold);
      }
      ul { padding: 10px 0px 5px 20px;
        li {
          padding-bottom: 0px;
          @include font($extra-small-font,$normal);
        }
      }
    }
  }


  /*-----------section-3 (SERVICES)-------------*/

  //services section content
  .service-section-content { width: 100%; padding: 0px !important;

    .content-grid { margin-bottom: 20px;
      .content-card {
        .card-img-top { }
        .card-body { padding: 20px 0px 0px 0px;
          .body-heading {
            @include font($small-font,$semi-bold);
          }
          .body-heading-lead {
            padding-top: 5px !important;
            @include font($extra-small-font,$normal);
          }
        }
      }
    }
  }


  /*-----------section-4 (PORTFOLIO)-------------*/
  //portfolio section heading
  .portfolio-section {
    .portfolio-section-header {
      .section-header-content {
        .section-heading { font-size: 30px;
          &:hover {
            @include font(40px,$bold);
          }
        }

        .section-sub-heading { width: 90%; padding: 0px !important; font-size: 15px;
          &:hover {
            @include font($medium-font,$semi-bold);
          }
        }
      }
    }
  }

  //portfolio section content
  .portfolio-section-content { width: 100%; padding: 0px !important;
    .content-grid { margin-bottom: $mb-20; }
  }

  //portfolio overlays
  .overlay {
    .card-body { padding: 10px !important; margin: 10px;
      .body-heading {

        @include font($extra-small-font,$semi-bold);
      }
      .body-heading-lead {
        padding-bottom: $pb-0 !important;
        padding-top: $pt-10 !important;
        @include font($extra-small-font,$normal);
      }
      ul {
        li { font-size: 13px; }
      }
      .view-more-btn {
        transition: 0.5s;
        padding: 5px 5px 20px 5px;

        @include button-style($deep-orange,20px,auto,10px,0px);
      }
    }
  }


  /*---------section-5 (TEAM)----------*/

  //team section content and memeber image
  .team-section-content { width: 100%; padding: 0px !important;
    .content-grid { margin-bottom: $mb-20; }
  }

  //team section member details
  .card-body { padding: 5px;
    .member-name {
      padding-top: $pt-10;
      @include font($medium-font,$semi-bold);
    }

    .member-designation {
      @include font($small-font,$normal);
    }

    .member-description { margin-top: $mt-10; font-size: $extra-small-font; }
    .member-view-profile-button { height: 30px; font-size: $extra-small-font; width: 100%; margin-left: 0%; }
  }


  /*-----------section-6 (TESTIMONIAL)---------*/

  //testimonial slider section
  .testimonial-section-content {
    .content-grid {
      .testimonial-image { width: 16%; margin: 20px 42% 0px 42%; }
      .testimonial-description { margin-top: 20px !important; padding: 0px 20px; font-size: 10px; }
    }
  }


  /*-----------section-7 (CONTACT)---------*/

  //contact section
  .contact-section { padding-top: $pt-50; padding-bottom: $pb-50;
    .contact-section-content { width: 100%; padding: 0px !important; }
  }

  //contact section content (heading, subscribtion form)
  .section-grid { margin-bottom: $mb-0; padding: 0px 15px;
    h1 {
      padding-bottom: 10px;
      @include font(20px,$semi-bold);
    }

    form {
      .form-group {
        input { font-size: $small-font; }
      }
    }

    button { width: 40%; margin-left: 0%; font-size: $small-font; }
  }


  /*-----------------FOOTER------------------*/
  //footer top
  .footer-main-container { padding-top: $pt-50; padding-bottom: $pb-30; }

  .footer-top-section { width: 100%; padding: 0px !important;
    .section-grid { margin-bottom: $mb-20; padding: 0px 15px; }
  }

  //copyright
  .copyright { font-size: $extra-small-font; }
}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width:767.98px) and (min-width:576px) {


  /*----------TOP HEADER (bottom menu fixed at top)--------------*/

  /*app logo*/
  .app-header-logo { height: 100%; width: 20%; display: inline-block;
    h4 {
      float: right;
      @include font(25px,$bold);
      margin-bottom: 0px;
      padding-top: 4px;
    }
  }

  /*sign in button*/
  .app-header-sign-in-btn { height: 100%; width: 10%; position: absolute; right: 0%; display: inline-block;
    .fa-sign-in {
      @include font(20px,$bold);
      color: $deep-orange;
      padding-top: 10px;
      cursor: pointer;
      margin-left: 0px;
    }
  }

  /*menu section*/
  .app-menu { height: 40px; }

  /*menu toggle button */
  .navbar-toggler { top: 10%; margin-right: 10px; }

  /*bottom/top menu section*/
  .nav { left: 20%; width: 70%; margin-right: 0px !important;
    ul { width: 90%; background-color: lightgray; margin-top: 40px;
      li { display: block !important; padding: 10px !important; }
    }
  }

  /*sub-option in bottom/top menu*/
  .sub-option { background-color: lightgray; display: none; padding-bottom: 10px !important; width: 100% !important; margin-top: 0px !important;
    li { display: block !important; margin-left: 15px; }
  }

  /*-----------section-1 (HOME)-------------*/
  .home-section {
    .slide-indicators { margin-bottom: 30px; }
  }


  /*-----------section-2 (ABOUT)-------------*/

  //about section content
  .about-section-content { width: 95%;
    .content-grid { padding: 0px 15px; margin-bottom: 20px;
      img { height: 100%; border: none; }
      .content-data-heading {

        @include font(20px,$semi-bold);
      }
      ul { padding: 20px 0px 10px 30px;
        li {
          padding-bottom: 10px;
          @include font($medium-font,$normal);
        }
      }
    }
  }


  /*-----------section-3 (SERVICES)-------------*/

  //services section content
  .service-section-content { width: 95%;

    .content-grid { padding: 0px 15px;
      .content-card {
        .card-img-top { }
        .card-body {
          .body-heading {
            @include font($medium-font,$semi-bold);
          }
          .body-heading-lead {
            padding-top: 15px !important;
            @include font($small-font,$normal);
          }
        }
      }
    }
  }


  /*-----------section-4 (PORTFOLIO)-------------*/

  //portfolio section heading
  .portfolio-section {
    .portfolio-section-header {
      .section-header-content {
        .section-heading { font-size: 40px; }
        .section-sub-heading { width: 75%; padding: 0px !important; font-size: $medium-font; }
      }
    }
  }

  //portfolio section content
  .portfolio-section-content { width: 95%;
    .content-grid { padding: 0px 15px; }
  }

  //portfolio overlays
  .overlay {
    .card-body { padding: 10px !important;
      .body-heading {

        @include font($medium-font,$semi-bold);
      }
      .body-heading-lead {
        padding-bottom: 0px !important;
        @include font($small-font,$normal);
      }
      .view-more-btn {
        @include button-style($deep-orange,30px,auto,10px,$mt-0);
      }
    }
  }

  /*---------section-5 (TEAM)----------*/

  //team section content and memeber image
  .team-section-content { width: 95%;
    .content-grid { padding: 0px 15px; }
  }

  //team section member details
  .card-body { padding: 5px;
    .member-name {
      padding-top: 10px;
      @include font($larg-font,$semi-bold);
    }

    .member-designation {
      text-align: center;
      @include font($medium-font,$normal);
    }

    .member-description { margin-top: 20px; font-size: $small-font; }

    .member-view-profile-button { height: 40px; font-size: $small-font; }
  }


  /*-----------section-6 (TESTIMONIAL)---------*/

  //testimonail slider section
  .testimonial-section-content {
    .content-grid {
      .testimonial-image { width: 20%; margin: 20px 40% 0px 40%; }
      .testimonial-description { margin-top: 20px !important; padding: 0px 40px; font-size: 15px; }
    }
  }



  /*-----------section-7 (CONTACT)---------*/

  //contact section
  .contact-section {
    .contact-section-content { width: 95%; }
  }

  //contact section content (heading, subscribtion form)
  .section-grid {
    button { width: 40%; margin-left: 60%; font-size: $small-font; }
  }


  /*-----------------FOOTER------------------*/
  //footer top
  .footer-top-section { width: 95%;
    .section-grid { margin-bottom: $mb-30; padding: 0px 15px; }
  }

  .section-inner-row {
    .footer-heading {
      h1 {
        @include font($larg-font,$semi-bold);
      }
    }
    .description {
      @include font($small-font,$normal);
      a {
        .social-icon { }
      }
    }
  }

  //copyright
  .copyright { font-size: $medium-font; }
}



// Medium devices (tablets, less than 992px)
@media only screen and (max-width:991.98px) and (min-width:768px) {


  /*----------TOP HEADER--------------*/

  /*app logo*/
  .app-header-logo { height: 100%; width: 20%; display: inline-block;
    h4 { float: left; margin-left: 45px; }
  }

  /*sign in button*/
  .app-header-sign-in-btn { width: 10%;
    .fa-sign-in { margin-left: 0px; }
  }


  /*----------BOTTOM MENU--------------*/

  /*bottom/top menu section*/
  .nav { left: 20%; width: 70%; }
}


/*------------------Responsive design for section-1 (HOME)*/
/*maximum screen width 400px*/
@media only screen and (max-width:400px) {

  /*-----------section-1 (HOME)-------------*/

  //slide caption
  .slide-caption { top: 20%; color: black; left: 0%; right: 0%;
    .slide-heading {
      width: 50%;
      margin: 0px auto;
      line-height: 1.3;
      @include font($medium-font,$semi-bold);
    }
    .slide-sub-heading {
      padding-top: 5px;
      @include font($small-font,$normal);
    }
    .btn {
      @include button-style($deep-orange,30px,145px,$small-font,5px);
      padding: 0px;
    }
  }
}

/*screen width between 401px and 508px*/
@media only screen and (min-width:401px) and (max-width:508px) {

  /*-----------section-1 (HOME)-------------*/

  //slide caption
  .slide-caption { top: 25%; color: black; left: 15%; right: 15%;
    .slide-heading {
      width: 65%;
      @include font($medium-font,$semi-bold);
    }
    .slide-sub-heading {
      padding-top: 5px;
      @include font(10px,$normal);
    }
    .btn {
      @include button-style($deep-orange,25px,80px,10px,0px);
      padding: 0px;
    }
  }
}

/*screen width between 509px and 600px*/
@media only screen and (min-width:509px) and (max-width:600px) {

  /*-----------section-1 (HOME)-------------*/
  .slide-caption { left: 10%; right: 10%;
    .slide-heading {
      width: 80%;
      @include font(30px,$semi-bold);
    }
    .slide-sub-heading {
      width: 100%;
      padding-top: 5px;
      @include font($medium-font,$normal);
    }
    .btn {
      @include button-style($deep-orange,30px,145px,10px,0px);
      padding: 0px;
    }
  }
}

/*screen width between 601px and 768px*/
@media only screen and (min-width:601px) and (max-width:768px) {

  /*-----------section-1 (HOME)-------------*/

  //slide caption
  .slide-caption { top: 25%; color: black; left: 10%; right: 10%;
    .slide-heading {
      width: 70%;
      @include font(30px,$semi-bold);
    }
    .slide-sub-heading {
      padding-top: 5px;
      @include font(15px,$normal);
    }
    .btn {
      @include button-style($deep-orange,40px,145px,15px,5px);
      padding: 0px;
    }
  }
}


/*screen width between 769px and 1024px*/
@media only screen and (min-width:769px) and (max-width:1024px) {

  /*-----------section-1 (HOME)-------------*/

  //slide caption
  .slide-caption {
    .slide-heading { width: 100%; }
  }
}
