
/*---------------variables----------------*/

/*colors*/
$deep-orange: #EE660F;
$text-color: #373737;
$light-grey: #F9F9F9;
$overlay-text-color: #10B6DD;

/*font-size*/
$extra-large-font: 50px;
$larg-font: 20px;
$medium-font: 15px;
$small-font: 13px;
$extra-small-font:10px;

/*font-weight*/
$semi-bold:600;
$normal:400;
$bold: 700;

/*height,width,margin,padding*/
$btn-height: 50px;
$btn-width: 185px;
$m-0: 0px;
$p-0: 0px;

//margin-top
$mt-95: 95px;
$mt-80: 80px;
$mt-50: 50px;
$mt-35: 35px;
$mt-30: 30px;
$mt-20: 20px;
$mt-15: 15px;
$mt-10: 10px;
$mt-0:  0px;

//margin-bottom
$mb-95: 95px;
$mb-80: 80px;
$mb-50: 50px;
$mb-35: 35px;
$mb-30: 30px;
$mb-20: 20px;
$mb-15: 15px;
$mb-10: 10px;
$mb-0: 0px;

//padding-top
$pt-95: 95px;
$pt-80: 80px;
$pt-50: 50px;
$pt-40: 40px;
$pt-35: 35px;
$pt-30: 30px;
$pt-20: 20px;
$pt-10: 10px;
$pt-15: 15px;
$pt-0: 0px;

//padding-bottom
$pb-95: 95px;
$pb-80: 80px;
$pb-55: 55px;
$pb-50: 50px;
$pb-40: 40px;
$pb-35: 35px;
$pb-30: 30px;
$pb-20: 20px;
$pb-15: 15px;
$pb-10: 10px;
$pb-0: 0px;
